resources:
 pipelines:
   - pipeline: P1
     source: jainamanjain.Test2
    #  project: project1

trigger:
- master

stages:
 - stage: ProduceArtifact
   jobs:
     - deployment: Test3DeploymentJob9
       environment: envionment2
       pool: hosted
       strategy:
        runOnce:
          deploy:
            steps:
              - powershell: |
                 ls $(Build.ArtifactStagingDirectory)/
              - download: P1
                artifact: A2
            # - powershell: |
            #    ls $(Build.ArtifactStagingDirectory)/
              # - download: P1
                # artifact: A2
              # - task: PublishBuildArtifacts@1
              #   inputs:
              #     PathtoPublish: 'artifact3'
              #     ArtifactName: 'A3_Project2'
              #     publishLocation: 'Container'
     - job: J44_Normal
       pool: 
        name: Default
       steps:
        - powershell: |
                 ls $(Build.ArtifactStagingDirectory)/
        - download: P1
          # artifact: A1.1
    #      - task: PublishBuildArtifacts@1
    #        inputs:
    #         PathtoPublish: 'artifact3'
    #         ArtifactName: 'A3_Project2'
    #         publishLocation: 'Container'
    #     #  - powershell: |
    #     #     ls $(Build.ArtifactStagingDirectory)/
